<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>WN</title>
</head>
<body>
    <div id="text-container"></div>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
    <script type="module" src="/static/js/script.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/tone@14.7.77/build/Tone.js"></script> -->
    <div id="audio-container"></div>
    <button class="menu-button">▶MENU</button>
</body>
</html>