<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WN</title>
    <!-- Подключаем файл menu.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body>
    <ul class="script-list">
        {% for script in scripts %}
            <li class="script-item">
                <a href="/?script_name={{ script }}&global_index=-1" class="script-link">{{ script }}</a>
            </li>
        {% endfor %}
    </ul>
    <script type="module" src="/static/js/menu.js"></script>
</body>
</html>
