<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WN</title>
    <!-- Подключаем файл menu.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body>
    <ul class="script-list">
        {% for script in scripts %}
            <li class="script-item">
                <a href="/?script_name={{ script }}&global_index=-1" class="script-link">{{ script }}</a>
            </li>
        {% endfor %}
    </ul>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const scriptLinks = document.querySelectorAll('.script-link');
            const lastClickedScript = localStorage.getItem('lastClickedScript');
            if (localStorage.getItem('finishScript') === null){
                localStorage.setItem('finishScript', JSON.stringify(['tata_001.json', 'omake_03.json']));
            }
            // Если ранее была нажата кнопка, применяем стиль
            if (lastClickedScript) {
                scriptLinks.forEach(link => {
                    if (link.textContent.trim() === lastClickedScript) {
                        link.classList.add('active');
                    }
                });
            }
    
            // Добавляем обработчик событий на каждую ссылку
            const scriptsArray = JSON.parse(localStorage.getItem('finishScript'));
            scriptLinks.forEach(link => {
                let link_name = link.textContent.trim();
                link.addEventListener('click', function (event) {
                    // Сохраняем название нажатой кнопки
                    localStorage.setItem('lastClickedScript', link_name);
    
                    // Удаляем класс active со всех ссылок
                    scriptLinks.forEach(link => link.classList.remove('active'));
    
                    // Добавляем класс active к нажатой ссылке
                    link.classList.add('active');
                });
                if (scriptsArray.includes(link_name)) {
                    link.classList.add('finish');
                }
            });
            
        });
    </script>
    
</body>
</html>
